{__warning_header}
'use strict';
<%
    const importStates = Object.keys(entities).map( namespace => `import ${namespace} from './${namespace}';` ).join('\n');
    const exportStates = Object.keys(entities).join(',\n    ');
%>
import { Map } from 'immutable';
{importStates}

export default Map({
    {exportStates}
});
